@CHARSET "UTF-8";

footer{
  background-color: #efefef; 
  right: 0;
  left: 0;
  bottom: 0;
  clear: both;
  position: fixed;
  height: 65px;
  line-height: 65px;
  padding-left: 20px;
}
body{
	min-height: 1000px;
	padding-top: 70px;
}
/*
.collapse .navbar-nav li.active a{
	background-color: #808080; <!--#D3D3D3;   <!--#a9a9a9; ---->
	border: 1px solid #fff;
}
*/
